html,
body {
  background-color: #333;
  color: white;
}

.canvas {
  border: 1px solid white;
}

#debug {
  position: absolute;
  top: 100;
  right: 1rem;
  padding: 1rem;
  max-width: 200;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 1rem;
  overflow-x: scroll;
}

.fps {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
}
