html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  height: 100%;
}

#count {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16rem;
  opacity: 0;
  transition: 0.2s;
  z-index: -1;
}

#plus,
#minus {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 8rem;
  z-index: 1;
}

#video {
  max-width: 100%;
  transition: 0.2s;
}

#canvas {
  display: none;
}
